[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/kjblanchard/SDL.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/kjblanchard/vorbis.git
[submodule "external/ogg"]
	url = https://github.com/kjblanchard/ogg.git
	path = external/ogg
